@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.input-wrapper {
    @include flex-column;
    gap: $spacing-sm;

    &--full-width {
        width: 100%;
    }
}

.input-label {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $text-primary;
}

.input-required {
    color: $color-error;
    margin-left: 4px;
}

.input-container {
    position: relative;
    @include flex-center;
}

.input {
    width: 100%;
    padding: $spacing-md $spacing-md + 4px;
    font-size: $font-size-base;
    font-family: inherit;
    color: $text-primary;
    background-color: $bg-primary;
    border: 2px solid $color-neutral-200;
    border-radius: $border-radius-md;
    @include transition(all);

    &--with-icon {
        padding-left: 44px;
    }

    &--full-width {
        width: 100%;
    }

    &:focus {
        @include focus-ring($color-primary-500);
    }

    &:disabled {
        background-color: $color-neutral-100;
        cursor: not-allowed;
        opacity: 0.6;
    }

    &::placeholder {
        color: $color-neutral-500;
    }

    &--error {
        border-color: $color-error;

        &:focus {
            box-shadow: 0 0 0 3px rgba($color-error, 0.1);
        }
    }
}

.input-icon {
    position: absolute;
    left: 14px;
    color: $color-neutral-500;
    font-size: $font-size-lg;
    pointer-events: none;
}

.input-error-message {
    font-size: $font-size-sm;
    color: $color-error;
}
